$i: 40;
@while $i > 0 {
  .mt#{$i} { margin-top: $i * 1px!important; }
  .mb#{$i} { margin-bottom: $i * 1px!important; }

  .ml#{$i} { margin-left: $i * 1px!important; }
  .mr#{$i} { margin-right: $i * 1px!important; }

  .pt#{$i} { padding-top: $i * 1px!important; }
  .pb#{$i} { padding-bottom: $i * 1px!important; }

  .p#{$i} { padding: $i * 1px!important; }
  $i: $i - 5;
}