.mt10 {
    margin-top: 10px;
  }
  
  .mb10 {
    margin-bottom: 10px;
  }
  
  .ml10 {
    margin-left: 10px;
  }
  
  .mr10 {
    margin-right: 10px;
  }
  
  
  .clearfix:after{
    content:".";/*加一段内容*/
    display:block;/*让生成的元素以块级元素显示，占满剩余空间*/
    height:0;/*避免生成的内容破坏原有布局高度*/
    clear:both;/*清除浮动*/
    visibility:hidden;/*让生成的内容不可见*/
   }
  
   .clearfix{zoom:1;/*为IE6，7的兼容性设置*/}
  
   .fl {
     float: left;
   }
  
   .fr {
     float: right;
   }
  