.base-layout {
    height: 100vh;
}

.base-layout-header {
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  background: #fff;
  padding: 0;
  width: 100%;
}



.base-layout .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  .base-layout .trigger:hover {
    color: #1890ff;
  }
  
  .base-layout .logo {
    box-sizing: border-box;
    border-right: 1px solid #001529;
    height: 63px;
    background: url('../asset/images/logo/logo.JPG') no-repeat  center {
      size: auto 100%;
      color: #fff;
    };
  }


  .header-index-right {
    float: right;
    height: 100%;
    overflow: hidden;
  }



  .menu .anticon {
    margin-right: 8px;
  }

  .menu .ant-dropdown-menu-item {
    min-width: 160px;
  }

  .layout-dropdown-link {
    display: inline-block;
    height: 100%;
    padding: 0 25px 0 0;
    cursor: pointer;
    transition: all 0.3s;
  }

  .layout-dropdown-link > i{
    vertical-align: middle;
  }