.user-layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: #f0f2f5;
}

.user-layout-logo {
  margin: 10px auto 20px;
  width: 300px;
  height: 100px;
  box-shadow: 0 0 0px 2px rgba(0,0,0,0.06);
  flex: none;
  border-radius: 4px;
  background: url('../asset/images/logo/logo.JPG') no-repeat  center {
    size: auto 100%;
    color: #fff;
  };
  
}

.user-layout-content {
  flex: auto;
}

// @media screen and (min-width: 768px) {
//   /* .user-layout-container {
//     background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
//     background-repeat: no-repeat;
//     background-position: center 110px;
//     background-size: 100%;
//   } */

//   .user-layout-content {
//     padding: 32px 0 24px;
//   }
// }
